asgiref==3.8.1
Django==5.1.5
djangorestframework==3.15.2
djangorestframework-simplejwt==5.4.0
psycopg2-binary==2.9.10
dj-database-url==2.3.0
pytz==2024.2
sqlparse==0.5.3
django-cors-headers==4.6.0
drf_yasg==1.21.8
python-dotenv==1.0.1
whitenoise==6.8.2
python-docx==1.1.2
qdrant-client==1.12.1
llama-index==0.12.2
llama-index-embeddings-huggingface==0.4.0
llama-index-vector-stores-qdrant==0.4.3
llama_index-embeddings-azure-inference==0.3.0
llama_index-embeddings-ollama==0.4.0
llama_index-llms-azure-inference==0.3.0
llama-index-llms-ollama==0.4.2
llama-index-node-parser-topic==0.2.0
llama-index-extractors-entity==0.3.0