python-docx==1.1.2
qdrant-client==1.12.1
llama-index==0.12.2
llama-index-llms-huggingface==0.4.2
llama-index-llms-huggingface-api==0.3.1
llama-index-llms-huggingface==0.4.2
llama-index-embeddings-huggingface==0.4.0
llama-index-vector-stores-qdrant==0.4.0
llama_index-embeddings-azure-inference==0.3.0
llama_index-embeddings-ollama==0.4.0
llama_index-llms-azure-inference==0.3.0
llama-index-llms-ollama==0.4.2
llama-index-node-parser-topic==0.2.0
llama-index-extractors-entity==0.3.0
fastembed==0.4.2
camelot-py==0.9.0
pymupdf4llm==0.0.17
pdfplumber==0.11.4
flask-cors==5.0.0
#bitsandbytes==0.45.0
sentencepiece==0.2.0
accelerate==1.2.0
numpy==1.26.4
azure-ai-inference==1.0.0b6
opencv-python==4.10.0.84
python-dotenv==0.21.0
langchain-community==0.3.8
opencensus-ext-azure==1.1.13
# spacy==3.7.6
gunicorn